.container {
  background-color: #111010;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding: 5px;
}

a {
  text-decoration: none;
  margin-right: 10px;
}

.activo {
  color: green;
  font-weight: bold;
}